<div id="contentContainer">
  <div id="videoDescription">
    Some video description.
    <br>
    Some video description.
    <br>
    Some video description.
    <br>
    Some video description.
    <br>
    Some video description.
    <br>
  </div>
  <div id="containingBlock">
    <div class="videoWrapper">
      <div id="player"></div>
    </div>
  </div>
  <div id="pager">
    <span></span>
  </div>
</div>