<div id="contentContainer">
  <div id="videoDescription" class="container">
    <div class="row header">
      <span class="name">Нужны ли выборы 2018 года?</span>
      <span class="timetotal">18 минут</span>
    </div>
    <div class="row content">
      <div class="summary col-8" style="padding: 0 5px">
        {{playlist.description}}
      </div>
      <div class="col-4" style="padding: 0 5px">
      {{#bs-carousel 
        nextControlIcon='fas fa-chevron-circle-right'
        prevControlIcon='fas fa-chevron-circle-left'
        wrap=false
        autoPlay=false
        showIndicators=false
        as |car|}}
        {{#each playlist.videoRanges as |videoRange|}}
          {{#car.slide}}
            <div class="car-item">
              <div class="range-index"><img src={{videoRange.video.channel.logoUrl}} width="30"></div>
              <div class="range-length"> {{videoRange.minutes}} минут</div>
              {{#bs-progress as |p|}}
                {{p.bar value=30 minValue=videoRange.from maxValue=videoRange.to showLabel=false type="danger" striped=false animate=true}}
              {{/bs-progress}}
            </div>
          {{/car.slide}}
        {{/each}}
      {{/bs-carousel}}
      
      </div>
    </div>
  </div>
  <div id="containingBlock">
    <div class="videoWrapper">
      <div id="player"></div>
    </div>
  </div>
  <div id="navigation">
    {{#bs-button onClick=(action "nextVideo") type="primary"}}
      ПЕРЕЙТИ К СЛЕДУЮЩЕЙ ТЕМЕ
      <span class="glyphicon glyphicon-play"></span>
    {{/bs-button}}
    <span class="glyphicon glyphicon-play"></span>
  </div>
</div>