<div id="headerContainer">
  <div id="landmark" style="max-width: 732px; margin: 0 auto;">
    {{#bs-navbar as |navbar|}}
      <div id="arrow-left"></div>
      <div class="navbar-header">
        {{navbar.toggle}}
        {{#link-to "index" class="navbar-brand"}}
         <span style="color:red;">NP</span>  
        {{/link-to}}
      </div>
      {{#navbar.content}}
        {{#navbar.nav as |nav|}}
          {{#nav.item}}{{#nav.link-to "index" "history"}}ИСТОРИЯ{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "index" "now"}}2018{{/nav.link-to}}{{/nav.item}}
          {{#nav.item}}{{#nav.link-to "index" "future"}}БУДУЩЕЕ{{/nav.link-to}}{{/nav.item}}
        {{/navbar.nav}}
      {{/navbar.content}}
      <div id="arrow-right"></div>
    {{/bs-navbar}}
  </div>
</div>

{{outlet}}