<div id="previewContainer">

    <div id="logoContainer" >
      <div>
        <img src='{{rootURL}}assets/nplogo.png'/>
      </div>
      <div id="divider"></div>
    </div>

    <div id="citeContainer">
      <div class="cite">
        {{typing-effect text=model.text onComplete=(action "onTextAnimationComplete")}}
      </div>
      <div class="author">
        - {{model.author}}
      </div>
    </div>

    <div id="controlsContainer">
      <button id="goToVideos" {{action "goToVideos"}}>
        НАЧАТЬ
      </button>
    </div>

</div>