.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
	margin:0;
}

#headerContainer{
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	z-index: 10;
}

#landmark{
	position: relative;
	background: #000;
}

#landmark>nav{
	background: #222 !important;
	padding: 0;
}

#landmark .nav-link{
	color: #fff;
}

#landmark .nav-item:hover{
	background: red;
}

#landmark .nav-item.active{
	background: red !important;
}

#arrow-right{
	display: inline-block;
	width: 25px;
	height: 50px;
	border-top: 25px solid white;
	border-bottom: 25px solid white;
	border-left: 25px solid #222;
	background: #222;
}

#arrow-left{
	display: inline-block;
	width:25px;
	height:50px;
	border-top: 25px solid #222;
	border-bottom: 25px solid #222;
	border-left:  25px solid white;
}

#birthyear{
	width: 40px;
	height: 18px;
	margin-right: 1rem;
	font-size: 0.8rem;
	border: 0;
	text-align: center;
	color:white;
	background: red;
}

#landmark .navbar-header{
	margin-left: 1rem;
}

.navbar-collapse{
	margin-left: 6rem;
}

#header{
	background-color: #000;
	color:#bbb;
	font-size:17px;
	font-style: italic;
	font-family: Cambria,'Times New Roman',serif;
}

#header>img{
	float: left;
}

#contentContainer{
	max-width: 732px; 
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	padding: 60px 10px 0;
}

#content{
	font-size:18px;
	font-family: CustomSerif,Georgia,Cambria,'Times New Roman',serif;
	line-height: 1.58;
	color: rgba(0,0,0,.8);
}


#drawer{
	position: absolute;
	left:-300px;
	width:250px;
	top:200px;
}

#drawer>ul{
	margin: 0;
	padding: 0;
	font-family: Cambria,'Times New Roman',serif;
}

#drawer>ul>li{
	padding: 5px;
	margin: 10px 0;
	background: #EEE;
	border-radius: 4px;
	color: rgba(0,0,0,.8);
}

.circle{
	 /*display: inline-block;*/
    font-style: normal;
    width: 24px;
    min-width: 24px;
    /*background: #fff;*/
    border-radius: 50%;
    text-align: center;
    height: 24px;
    vertical-align: middle;
    line-height: 24px;
    border: 2px solid #bdbdbd;
    margin-right: 8px;
    font-weight: 400;
}


#containingBlock {
  width: 90%;
  margin: 0px auto;
}

.videoWrapper {
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  outline: 1px solid #eee;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#videoDescription{
	margin: 0 auto;
	font-size: 12px;
	width: 90%;
}

#videoDescription>.header{
	margin-bottom: 10px;
}

#videoDescription>.header>.name{
	font-size: 1rem;
	background-color: #E8F5FD;
	padding: 3px 5px;
	color: #444;
}

#videoDescription>.header>.timetotal{
	padding: 3px 5px;
	color: #666;
	border: 1px solid #eee;
	line-height: 22px;
	margin-left: 30px;
	background-color: #f5f8fa;
}

#videoDescription>.content{
	border-top: 1px solid #eee;
	min-height: 100px;
	padding-top: 10px;
}

.links-list{
	font-size: 11px;
	line-height: 13px;
	margin-right: -10px;
	padding: 0 5px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	text-align: center;
	opacity: 0.7;
}

.links-list a{
	color: #0991f2;
}

.links-list a:hover{
	color: #087acc;
}

#navigation{
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #eee;
}

#navigation button{
	background-color: hsl(0,100%,40%);
	border: 0;
	border-radius: 0;
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: 10px;
	font-weight: 400;
	cursor: pointer;
	width: 200px;
}

#navigation button:hover{
	background-color: hsl(0,100%,50%);	
}

.carousel{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	color: #888;
}

.car-item{
	height: 75px;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: middle;
	flex-direction: column;
	font-family: Roboto, Arial, sans-serif;
	color: rgba(17,17,17,0.6);
}

.car-item .range-length{
	margin: 5px 0 10px;
}

.car-item>img{
	border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next{
	color: red !important;
	font-size: 16px;
}

.progress{
	width: 120px !important;
	height: 3px !important;
	border-radius: 0 !important;
}

@import "ember-bootstrap/bootstrap";
