.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body{
	margin: 0;
}

#previewContainer{
	position:absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	z-index: 100000;
	background-color: #000;
	transition: all 300ms linear;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	#logoContainer{
		width: 200px;
		text-align: center;

		#divider{
			display: inline-block;
			height: 1px;
			width: 150px;
			background-color: grey;
			margin: 10px auto 0;
			transition: all 800ms cubic-bezier(0.6, -0.5, 0.735, 0.045);
		}
	}

	#citeContainer{
		width: 600px;
		margin: 40px auto 40px;
		background-color: #eee;
		padding: 10px;
		text-align:center;

		.cite{
			text-transform: uppercase;
			margin-bottom:10px;
			font-size:15px;
			line-height: 1.5;
			font-family:Cambria;
		}

		.author{
			padding: 3px;
			font-size:15px;
			opacity: 0;
			transition: all 800ms linear;
		}
	}

	#controlsContainer{
		width: 250px;
		margin: 0 auto;

		#goToVideos{
			width: 250px;
			background-color: red;
			border-color: red;
			color: #fff;
			padding: 5px;
			cursor: pointer;
			transition: all 800ms linear;
			opacity: 0;
		}
	}
}



#headerContainer{
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	z-index: 10;
}

#landmark{
	position: relative;
	background: #000;
	min-width: 732px;
	width: 55%;
	margin: 0 auto;
}

#landmark>nav{
	background: #222 !important;
	padding: 0;
}

#landmark .nav-link{
	color: #fff;
}

#landmark .nav-item:hover{
	background: red;
}

#landmark .nav-item.active{
	background: red !important;
}

#arrow-right{
	display: inline-block;
	width: 25px;
	height: 50px;
	border-top: 25px solid white;
	border-bottom: 25px solid white;
	border-left: 25px solid #222;
	background: #222;
}

#arrow-left{
	display: inline-block;
	width:25px;
	height:50px;
	border-top: 25px solid #222;
	border-bottom: 25px solid #222;
	border-left:  25px solid white;
}

#birthyear{
	width: 40px;
	height: 18px;
	margin-right: 1rem;
	font-size: 0.8rem;
	border: 0;
	text-align: center;
	color:white;
	background: red;
}

#landmark .navbar-header{
	margin-left: 1rem;
}

.navbar-collapse{
	margin-left: 6rem;
}

#header{
	background-color: #000;
	color:#bbb;
	font-size:17px;
	font-style: italic;
	font-family: Cambria,'Times New Roman',serif;
}

#header>img{
	float: left;
}

#contentContainer{
	min-width: 732px; 
	width: 55%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	padding: 60px 10px 0;
}

#videoContainer{
	position: relative;
	visibility: hidden;
}

#content{
	font-size:18px;
	font-family: Cambria,'Times New Roman',serif;
	line-height: 1.58;
	color: rgba(0,0,0,.8);
}


#drawer{
	position: absolute;
	left:-300px;
	width:250px;
	top:200px;
}

#drawer>ul{
	margin: 0;
	padding: 0;
	font-family: Cambria,'Times New Roman',serif;
}

#drawer>ul>li{
	padding: 5px;
	margin: 10px 0;
	background: #EEE;
	border-radius: 4px;
	color: rgba(0,0,0,.8);
}

.circle{
	 /*display: inline-block;*/
    font-style: normal;
    width: 24px;
    min-width: 24px;
    /*background: #fff;*/
    border-radius: 50%;
    text-align: center;
    height: 24px;
    vertical-align: middle;
    line-height: 24px;
    border: 2px solid #bdbdbd;
    margin-right: 8px;
    font-weight: 400;
}


#containingBlock {
  width: 90%;
  margin: 0px auto;
}

.videoWrapper {
  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  outline: 1px solid #eee;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#videoDescription{
	margin: 0 auto;
	font-size: 12px;
	width: 90%;
}

#videoDescription .btn-group{
	margin-right: 10px;
}

#videoDescription .dropdown-toggle{
	border-radius: 0;
    padding: 0px 10px;
    background-color: #fff;
    color: #666;
    border: 0;
    box-shadow: 1px 1px 5px #aaa;
}

#videoDescription .dropdown-menu{
	padding: 0;
	border-radius: 0;
	margin-top: 10px;
	z-index: 2000;
	color: #666;
	font-family: Roboto, Arial, sans-serif;
}

#videoDescription .dropdown-item{
	cursor: pointer;
	padding: 1px 15px;
	border-bottom: 1px solid #f5f8fa;
}

#videoDescription .dropdown-item:hover{
	background-color: #f5f8fa;
}

#videoDescription .dropdown-item span{
	margin-left: 10px;
	font-size: 13px;
}

#videoDescription .dropdown-item .youtube-icon{
	width: 19px;
	height: 19px;
	display: inline-block;
	background-image: url('Youtube.png');
	background-size: contain;
	vertical-align: middle;
}

#videoDescription>.header{
	margin-bottom: 10px;
}

#videoDescription .name{
	color: #444;
	box-shadow: 1px 1px 5px #aaa;
	padding: 3px 50px;
	font-size: 1rem;
	line-height: 26px;
}

#videoDescription .timetotal{
	color: #000;
	box-shadow: 1px 1px 5px #aaa;
	line-height: 32px;
	margin-left: 10px;
	padding: 0 5px;
	opacity: 0.5;
	background-color: #E8F5FD;
}

#videoDescription>.content{
	border-top: 1px solid #eee;
	min-height: 100px;
	padding-top: 10px;
}

.links-list{
	font-size: 11px;
	line-height: 13px;
	margin-right: -10px;
	padding: 0 5px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	text-align: center;
	opacity: 0.7;
}

.links-list a{
	color: #0991f2;
}

.links-list a:hover{
	color: #087acc;
}

#playerOverlay{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 300ms linear;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#playerOverlay>.back{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #222;
}

#playerOverlay>.content{
	z-index: 1000;
}

#playerOverlay>.content>.block{
	font-family: Arial,'Times New Roman',serif;
	color: #fff;
	transition: all 300ms linear;
	text-align: center;
	opacity: 0;
}

#playerOverlay>.content>.block.speaker{
	font-size: 13px;
	color: #ddd;
	opacity: 0;
}

#playerOverlay>.content>.block.description{
	font-size: 16px;
	margin: 15px;
	opacity: 0;
}

#navigation{
	width: 90%;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #eee;
}

#navigation button{
	background-color: #fff;
	border: 1px solid #eee;
	color: #666;
	border-radius: 4px;
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	cursor: pointer;
	width: 100%;
	padding: 2px;
	text-transform: uppercase;
}

#navigation button:hover{
	background-color: #E8F5FD;
}

#navigation button:focus{
	box-shadow: none;
}

.carousel{
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	color: #888;
}

.car-item{
	height: 75px;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: Roboto, Arial, sans-serif;
	color: rgba(17,17,17,0.6);
}

.car-item .range-length{
	margin-top: 6px;
}

.car-item img{
	border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next{
	color: red !important;
	font-size: 16px;
	opacity: 0.6 !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
	opacity: 0.9 !important;	
}

.car-item .progress{
	margin-top: 12px;
	width: 120px !important;
	height: 3px !important;
	border-radius: 0 !important;
}

.car-item .bg-danger{
	background-color: red !important;
}

.resume-video{
	font-size: 11px;
	margin-top: 5px;
}

.resume-video:hover{
	color: #007bff;
	text-decoration: none;
}


#loaderContainer{
	visibility: visible;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.cssload-loader {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
		-o-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
	perspective: 1200;
		-o-perspective: 1200;
		-ms-perspective: 1200;
		-webkit-perspective: 1200;
		-moz-perspective: 1200;
}

.cssload-flipper {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	animation: cssload-flip 1.38s infinite ease-in-out;
		-o-animation: cssload-flip 1.38s infinite ease-in-out;
		-ms-animation: cssload-flip 1.38s infinite ease-in-out;
		-webkit-animation: cssload-flip 1.38s infinite ease-in-out;
		-moz-animation: cssload-flip 1.38s infinite ease-in-out;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-front,
.cssload-back {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background-color: rgb(213,0,0);
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.cssload-back {
	background-color: rgb(0,0,0);
	z-index: 800;
	transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
}



@keyframes cssload-flip {
	0% {
		transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-o-keyframes cssload-flip {
	0% {
		-o-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-o-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-o-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-ms-keyframes cssload-flip {
	0% {
		-ms-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-ms-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-ms-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-webkit-keyframes cssload-flip {
	0% {
		-webkit-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-moz-keyframes cssload-flip {
	0% {
		-moz-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-moz-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-moz-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@import "ember-bootstrap/bootstrap";